.header__title {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
  padding: 0;
  }
